<!DOCTYPE html>
<html lang="en">
<head>

    <title> RB-Blogs </title>
    <%- include('./partials/head')%>
</head>
<body>
    <%- include('./partials/navbar')%>

    <%- include('./partials/script')%>
    
</body>
</html>